%h1 Leaderboard


.row
	.span6
		%h3 Current Week
		%table.table.table-striped
			%tr
				%th.span1 Rank
				%th Contestant
			- @current_week_leaderboard.each_with_index do |contestant_week, i|
				%tr
					%td{style: 'text-align: center'}= i+1
					%td= contestant_week.contestant.full_name
	.span6
		%h3 Overall

		%table.table.table-striped
			%tr
				%th.span1{style: 'text-align: center'} Rank
				%th Contestant
			- @overall_leaderboard.each_with_index do |contestant, i|
				%tr
					%td{style: 'text-align: center'}= i+1
					%td= contestant.user.full_name
