.navbar.navbar-fixed-top
  .navbar-inner
    .container
      =link_to "stairchallenge", root_path, {:class => 'brand'}
      .nav-collapse
        %ul.nav
          %li= link_to "nav_item", nil
          %li= link_to "nav_item", nil

